@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
}

canvas {
  display: block;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p {
  font-size: $paragraph-font-size;
}